@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-small {
    font-size: 13px;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    color: #1a1a2e;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .btn-primary {
    /* @apply bg-gradient-to-r from-[#0a66c2] to-[#00b4aa] text-white border-none px-5 py-3 rounded-lg text-sm font-semibold shadow-md hover:opacity-90 transition-opacity cursor-pointer; */
    @apply bg-[#2D96BC] text-white border-none px-5 py-3 rounded-lg text-sm font-semibold shadow-md hover:opacity-90 transition-opacity cursor-pointer;
  }

  .btn-outline {
    @apply border flex gap-2 items-center border-[#2D96BC] text-[#2D96BC] bg-transparent px-4 py-2.5 rounded-lg text-sm font-semibold hover:bg-[#2D96BC]/20 transition-all cursor-pointer;
  }

  .btn-hero-primary {
    @apply bg-[#B3FC6A] text-black border-none px-10 py-4 rounded-xl shadow-md text-base font-semibold font-sora hover:-translate-y-0.5 transition-transform cursor-pointer;
  }

  .btn-hero-secondary {
    @apply bg-[#373737] text-[#ffffff] border border-gray-200 px-7 py-3.5 rounded-xl text-base font-semibold font-sora shadow-sm hover:border-[#0a66c2] transition-colors cursor-pointer;
  }

  .section-title {
    @apply font-sora text-4xl font-semibold text-[#090F4E] text-center mb-3;
  }

  .section-sub {
    @apply text-center text-slate-500 text-[15px] mb-12 leading-relaxed;
  }

  .card-base {
    @apply bg-[#FFEEF1] rounded-2xl shadow-sm p-6;
  }

  .card-base1 {
    @apply bg-[#ffffff] rounded-2xl shadow-lg p-6;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
  height: 8px; /* horizontal scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: #2D96BC; /* keeps track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: #090F4E; /* thumb color */
  border-radius: 4px; /* round edges */
  border: 2px solid transparent; /* optional spacing */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
  .marquee-vertical {
    overflow: hidden;
    height: 44px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: content-box;
  }
  .marquee-track {
    display: flex;
    flex-direction: column;
    gap: 12px;
    animation: scrollUp 3s linear infinite;
  }
  .marquee-track img {
    flex-shrink: 0;
    height: 44px;
    width: 44px;
  }